
p {
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

h1 { 
    color:#BF8969; 
    text-shadow: 5px 5px 15px #000000;
    text-align: center;
    
}

h2 {
color:#BF8969;
text-shadow: 3px 3px 9px #000000;
text-align: center;

}


body {
    background: 222;
}

button {
    color: rgb(255, 255, 255); font-size: 20px; line-height: 20px; padding: 10px; border-radius: 20px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(191, 137, 105) 0%, rgb(139, 100, 77) 50%, rgb(101, 73, 56) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(255, 255, 255); display: inline-block;}
.myButton:hover {
background: #BF8969; }
.myButton:active {
background: #654938;

}

.card {
    width: 80%;
    max-width: 450px;
    background: linear-gradient(125deg, green, black);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
}

.search { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input { 
    border: 0;
    outline: 0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px, 20px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
}

.search button { 
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 30px;
}

.weather-icon {
    width: 150px;
    margin-top: 20px;
}

.weather h3 {
    font-size: 30px;
    font-weight: 500;
    color: white
}

.weather h4 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}



